@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
  margin: 0;
  padding: 0px;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(238,174,202);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
background: radial-gradient(circle, rgb(205, 148, 173) 0%, rgba(148,187,233,1) 100%);
}

